.layout {
    height: 100vh;
}

.image {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: auto;
    display: block;

}

.containerImg {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}